<%= form_for(@fit) do |f| %>
  <% if @fit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fit.errors.count, "error") %> prohibited this fit from being saved:</h2>

      <ul>
      <% @fit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group">
  <% if @fit.file? %>
    <h5><%= image_tag('check.png', size: "16x16") %> Fit file has already been uploaded!</h5>
  <% else %>
    <%= f.label :file %><br>
    <%= f.file_field :file %>
  <% end %>
    
  </div>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
