<p id="notice"><%= notice %></p>

<h1>Listing Fits</h1>

<table>
  <thead>
    <tr>
      <th>Fit Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fits.each do |fit| %>
      <tr>
        <td><%= fit.title %></td>
        <td><%= fit.description %></td>
        <td><%= link_to 'Show', fit %></td>
        <td><%= link_to 'Edit', edit_fit_path(fit) %></td>
        <td><%= link_to 'Destroy', fit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fit', new_fit_path %>
