<div class="page-header">
  <h1><a href="#"><%= @fit.title %></a><br> <small>Submitted by <%= @fit.user.username %></small></h1>
</div>
<div class="lead"><%= simple_format(word_wrap(@fit.description, line_width: 80)) %></div>
<div class="btn-group">

	
	<%= link_to 'Go Back ', root_path , class: "btn btn-default" %>
  <% if @fit.file? %>
	<%= link_to 'Download File', @fit.file.url.to_s, class: "btn btn-primary" %>
  <% else %>
  <%= link_to 'No File Uploaded', root_path , class: "btn btn-default" %>
  <% end %>

</div>

<% if @fit.user == current_user -%>
	&nbsp;
	<div class="btn-group">
		<%= link_to 'Edit', edit_fit_path(@fit), class: "btn btn-default" %>
		<%= link_to 'Delete', @fit, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
	</div>
<% end %>

<div class="btn-group">
  
  <%= link_to like_fit_path(@fit), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-up"></span>
    Like
    <%= @fit.get_upvotes.size %>
  <% end %>
  <%= link_to dislike_fit_path(@fit), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-down"></span>
    Dislike
    <%= @fit.get_downvotes.size %>
  <% end %>
</div>

<h3 class="comments_title">
   <%= pluralize(@fit.comments.count, 'Comment') %>
</h3>

<div id="comments">
  <%= render :partial => @fit.comments %>
</div>
<%= simple_form_for [@fit, Comment.new]  do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>

